<div class="w-full h-full flex flex-col p-1 bg-neutral-800">
		<div class="h-1/6 w-full px-1 pb-2">
				<app-game-points-info></app-game-points-info>
		</div>
		<div class="flex flex-1 w-full justify-center items-center px-1 gap-2">
				<div class="w-2/3 h-full border border-neutral-400 bg-neutral-600 rounded-lg">
						<mat-tab-group animationDuration="0">
								<mat-tab label="Jobs">
										<app-game-jobs-view></app-game-jobs-view>
								</mat-tab>
								<mat-tab label="Skills">
										<app-game-skills-view></app-game-skills-view>
								</mat-tab>
						</mat-tab-group>
				</div>
				<div class="w-1/3 h-full border border-neutral-400 bg-neutral-600 rounded-lg">
						<app-game-shop-view></app-game-shop-view>
				</div>
		</div>
</div>