/* You can add global styles to this file, and also import other style files */
@use 'node_modules/@angular/material/index' as mat;



@include mat.core();

$themePalette  : (
				50: theme('colors.neutral.50'),
				100: theme('colors.neutral.100'),
				200: theme('colors.neutral.200'),
				300: theme('colors.neutral.300'),
				400: theme('colors.neutral.400'),
				500: theme('colors.neutral.500'),
				600: theme('colors.neutral.600'),
				700: theme('colors.neutral.700'),
				800: theme('colors.neutral.800'),
				900: theme('colors.neutral.900'),
				A100: theme('colors.neutral.100'),
				A200: theme('colors.neutral.200'),
				A400: theme('colors.neutral.400'),
				A700: theme('colors.neutral.700'),
				contrast: (
								50: theme('colors.neutral.700'),
								100: theme('colors.neutral.400'),
								200: theme('colors.neutral.200'),
								300: theme('colors.neutral.100'),
								400: theme('colors.neutral.900'),
								500: theme('colors.neutral.800'),
								600: theme('colors.neutral.700'),
								700: theme('colors.neutral.600'),
								800: theme('colors.neutral.500'),
								900: theme('colors.neutral.400'),
								A100: theme('colors.neutral.300'),
								A200: theme('colors.neutral.200'),
								A400: theme('colors.neutral.100'),
								A700: theme('colors.neutral.50'),
				)
);

$basic-primary : mat.define-palette($themePalette);
$basic-accent  : mat.define-palette($themePalette, A200, A100, A400);
$basic-warn    : mat.define-palette(mat.$red-palette);

$basic-theme   : mat.define-dark-theme((
				color: (
								primary: $basic-primary,
								accent: $basic-accent,
								warn: $basic-warn
				)
));

@include mat.all-component-themes($basic-theme);

@import 'frameworks/tailwind.dist.scss';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~angular-notifier/styles.css';
